<title>Organisation</title>
<div class="admin">
    <div class="controls">
        <div class="special_dogs">
            <label for="special_dogs">Special dogs</label>
            <input id="special_dogs" name="special_dogs" type="number" value="{SPECIAL_DOGS}"/>
        </div>
        <div class="dogs">
            <label for="dogs">Dogs</label>
            <input id="dogs" name="dogs" type="number" value="{DOGS}"/>
        </div>
        <div class="comment">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment">{COMMENT}</textarea>
        </div>
    </div>
    <div class="dates">
        {DATES}
    </div>
</div>
<script src="View/js/admin.js"></script>
<script src="View/js/info.js"></script>

