<overlay>
    <div class="help">
        <p>On this page you can book times for your dog walks and simultaneously see the capacity of available dogs</p>
        <h2>Registration</h2>
        <p>To book a time click on it</p>
        <img src="View/templates/click.png">
        <p>If your booking was successful the time changes color</p>
        <img src="View/templates/book.png">
        <p><b>Green</b> means there are enough dogs left for all walkers*</p>
        <img src="View/templates/full.png">
        <p><b>Yellow</b> means all dogs have a walker*</p>
        <img src="View/templates/over.png">
        <p><b>Red</b> means there are not enough dogs for all booked walkers*</p>
        <ul>
            <li>You can only book one time per block</li>
            <li>You can only book a time <b>2 Hours</b> or more in the future</li>
            <li>If you cant book a time anymore it turn grey<img
                    src="View/templates/blocked.png"></li>
        </ul>
        <i>*Please be aware the due to general aspects of the work with animals the colors only provide a rough accuracy</i>
        <h2>Special bookings</h2>
        <p>If you have communicated a special booking (e.g. you are a trainer) you can still book that by clicking the T beside the time</p>
        <img src="View/templates/train-click.png">
        <p>Your booking will not affect the general capacity and turns <b>blue</b></p>
        <img src="View/templates/train.png">
        <h2>Personal Data</h2>
        <p>If you want to change your name and status you can just log out and re-login with the correct data<br>
            Your bookings stay intact.</p>
        <img src="View/templates/logout.png">
        <p>If you don't use the service longer than 3 month all your data will be deleted automatically.</p>
    </div>
</overlay>
