<div class="block_info">
    <div class="summary">
        <div class="special_dogs">
            <span>Special</span>
            <span>{SPECIAL_DOG_BOOKED} / {SPECIAL_DOG_TOTAL}</span>
        </div>
        <div class="dogs">
            <span>Normal</span>
            <span>{DOG_BOOKED} / {DOG_TOTAL}</span>
        </div>
        <div class="training">
            <span>Training or else</span>
            <span>{TRAINING_DOG_BOOKED}</span>
        </div>
    </div>
    <div class="details">
        {TIMES}
    </div>
</div>
