<div class="time_info">
    <div class="time">{TIME}</div>
    <div class="names">{NAMES}</div>
    <div class="special_names">{SPECIAL_NAMES}</div>
    <div class="training_names">{TRAINING_NAMES}</div>
</div>
