<title>Login</title>
<div class="login">
    <div class="select active" id="user-login">Walker</div>
    <div class="select" id="admin-login">Organizer</div>
    <div class="user-login" id="loginForm">
        <div class="user section">
            <input id="id" name="id" placeholder="ID-Number" type="number">
            <div class="hint">
                Enter your system number. If you don't have received one ask the responsible<br>
            </div>
            <input id="name" name="name" placeholder="Name" type="text">
            <div class="hint">
                Enter your name
            </div>
            <div class="checkbox">
                <span>Certified</span>
                <input id="certified" name="certified" type="checkbox">
            </div>
            <div class="hint">
                Check this if you have made a certified dog training.
            </div>
            <button class="save">Save</button>
        </div>
        <div class="admin section">
            <input id="password" name="password" placeholder="Password" type="password">
            <div class="hint"></div>
            <button class="save">Save</button>
        </div>
    </div>
</div>
<script src="View/js/login.js"></script>

