<title>Anmeldung</title>
<div class="user">
    <div class="profile">
        <div class="name">Hello {NAME}!</div>
        <button id="changeUser">Log out</button>
    </div>
    <div class="help">?</div>
    <div class="comment">{COMMENT}</div>
    <div class="dates">
        {DATES}
    </div>
</div>
<script src="View/js/user.js"></script>
<script src="View/js/help.js"></script>

