body {
    margin: 0;
    min-height: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: var(--opposite);
    overflow-x: hidden;
    --main: white;
    --opposite: #464646;
    --decent-bg: rgb(220, 220, 220);
    --bg: rgb(200, 200, 200);
    --heavy-bg: rgb(150, 150, 150);
    --decent-info: rgb(160, 200, 255);
    --info: rgb(0, 10, 50);
    --decent-success: rgb(200, 255, 200);
    --success: rgb(50, 100, 50);
    --decent-warning: rgb(255, 255, 200);
    --warning: rgb(220, 200, 100);
    --decent-alert: rgb(255, 200, 200);
    --alert: rgb(200, 80, 80);
}

#response {
    display: none;
}

#notification {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 32px;
    color: var(--main);
    background-color: var(--info);
    transition: transform .3s;
}

#notification.success {
    background-color: var(--success);
}

#notification.warning {
    background-color: var(--warning);
}

#notification.error {
    background-color: var(--alert);
}

#notification:empty {
    transform: translateY(-100px);
}

input, textarea {
    font-size: 200%;
    width: 100%;
    border: 2px solid var(--bg);
    padding: 8px;
}

input::placeholder, textarea::placeholder {
    color: var(--bg);
}

button {
    padding: 16px;
    font-size: 200%;
    font-weight: bold;
    color: var(--main);
    background-color: var(--heavy-bg);
    border: none;
}

button.save {
    background-color: var(--success);
}

.checkbox input {
    display: none;
}

.checkbox span {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 150%;
    color: var(--main);
    background-color: var(--bg);
    transition: background-color .5s;
}

.checkbox span::after {
    content: ' ☐';
}

.checkbox.checked span {
    background-color: var(--success);
}

.checkbox.checked span::after {
    content: ' ☑';
}

#footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#footer a {
    text-decoration: none;
    font-size: 120%;
    color: var(--heavy-bg);
    padding: 20px;
}