.dates {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.dates .day {
    width: 200px;
    text-align: center;
    background: var(--heavy-bg);
    color: var(--main);
    flex-grow: 1;
}

.dates .day .date {
    margin: 8px;
    font-size: 150%;
}

.dates .day .block {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    gap: 1px;
}

.dates .day .block .time {
    position: relative;
    display: flex;
    flex-grow: 1;
    color: var(--opposite);
    text-align: center;
    padding: 8px;
    line-height: 1;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
}

.dates .day .block .time.blocked {
    background: var(--decent-bg);
}

.dates .day .block .time.skipped {
    background: repeating-linear-gradient(45deg, var(--main) 0 5px, var(--decent-bg) 5px 10px);
}

.dates .day .block .time.active {
    background: var(--main);
}

.dates .day .block .time.free {
    background: var(--decent-success);
}

.dates .day .block .time.full {
    background: var(--decent-warning);
}

.dates .day .block .time.over {
    background: var(--decent-alert);
}

.dates .day .block .time .action {
    background: var(--bg);
    color: var(--main);
    font-weight: bold;
    position: absolute;
    padding: 8px 16px;
    text-align: center;
    line-height: 1;
    max-height: 32px;
    right: 0;
    top: 0;
}

.dates .day .block .time .action.training {
    background: var(--decent-info);
}

.dates .day .block .time .action:empty {
    display: none;
}

.dates .day .block .time .comment {
    margin-top: 16px;
    padding: 8px;
}

.dates .day .block .time .comment {
    font-size: 16px;
    height: 100px;
    transition: height .3s;
    overflow: hidden;
}

.dates .day .block .time:not(.edit) .comment:empty {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
