#overlay:empty {
    display: none;
}

#overlay {
    position: fixed;
    box-sizing: border-box;
    z-index: 8;
    width: 100vw;
    min-height: 100vh;
    background: rgba(50, 50, 50, 0.5);
    padding: 60px;
    height: 100%;
    overflow-y: scroll;
}

#overlay .info {
    max-width: 600px;
    margin: 0 auto;
    background: var(--main);
    display: flex;
    flex-direction: column;
}

#overlay .info .title {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#overlay .info .block_info {
    background: var(--heavy-bg);
    padding: 20px;
    margin: 10px;
}

#overlay .info .block_info .summary {
    display: flex;
    color: var(--main);
}

#overlay .info .block_info .summary > div {
    width: 100%;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    text-align: center;
}

#overlay .info .block_info .summary > div span:nth-child(2) {
    font-size: 180%;
    font-weight: bold;
}

#overlay .info .block_info .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#overlay .info .block_info .details .time_info {
    display: grid;
    grid-template-areas: "time time time"
    "special_names names training_names";
    flex-direction: column;
    grid-auto-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 2px;
}

#overlay .info .block_info .details .time_info > div {
    background: var(--main);
    padding: 8px;
}

#overlay .info .block_info .details .time_info .time {
    grid-area: time;
}

#overlay .info .block_info .details .time_info .special_names {
    grid-area: special_names;
}

#overlay .info .block_info .details .time_info .names {
    grid-area: names;
}

#overlay .info .block_info .details .time_info .training_names {
    grid-area: training_names;
}

