.login {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
            "user admin"
            "form form";
}

.login #user {
    grid-area: user;
}

.login #admin {
    grid-area: admin;
}

.login .select {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

.login .select:not(.active) {
    background-color: var(--bg);
    cursor: pointer;
}

#loginForm {
    grid-area: form;
    width: 200%;
    display: flex;
    overflow: hidden;
    transition: transform .5s;
}

#loginForm.admin-login {
    transform: translateX(-100vw);
}

#loginForm .section {
    position: relative;
    width: 100vw;
    max-width: 600px;
    padding: 20px;
    margin: 40px auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#loginForm .section .hint {
    font-style: italic;
    color: var(--heavy-bg);
    margin-bottom: 40px;
}

#loginForm .section .hint img {
    width: 80%;
    padding: 0 10%;
}

#loginForm .section .hint b {
    font-size: 120%;
}
