.admin, .user {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding: 20px;
}

.admin .controls {
    display: grid;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    grid-template-areas:
            "special_dogs comment"
            "dogs comment";
    gap: 20px;
    grid-auto-columns: 180px 1fr;
}

@media screen and (max-width: 400px) {
    .admin .controls {
        grid-template-areas:
            "special_dogs dogs"
            "comment comment";
        gap: 20px;
        grid-auto-columns: 1fr 1fr;
    }
}

.admin .controls div {
    display: flex;
    flex-direction: column;
}

.admin .controls .dogs {
    grid-area: dogs;
}

.admin .controls .special_dogs {
    grid-area: special_dogs;
}

.admin .controls .comment {
    grid-area: comment;
}

.admin .controls .comment textarea {
    height: 100%;
    font-size: 150%;
}

.admin label {
    padding: 8px;
    font-size: 120%;
}

.user {
    display: grid;
    grid-template-areas:
            "profile comment help"
            "dates dates dates";
    grid-auto-columns: 200px 1fr 60px;
}

@media (orientation: portrait) {
    .user {
        grid-template-areas:
                "profile none help"
                "comment comment comment"
                "dates dates dates";
    }
}

.user .profile {
    font-size: 150%;
    text-align: center;
    grid-area: profile;
}

.user .profile .name {
    padding: 20px;
}

.user .profile button {
    font-size: 100%;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 30px;
    cursor: pointer;
}

.user .help {
    max-width: 60px;
    grid-area: help;
    padding: 50% 0;
    background: var(--decent-bg);
    text-align: center;
    height: 0;
    border-radius: 50%;
    color: var(--main);
    font-weight: 900;
    line-height: 0;
    font-size: 300%;
    cursor: help;
}

.user .comment {
    font-style: italic;
    grid-area: comment;
    margin: 0 20px;
    font-size: 110%;
    text-align: center;
}

.user .dates .day .block .time .comment {
    border: none;
    background: transparent;
    resize: none;
    height: auto;
}

.user .dates {
    grid-area: dates;
}